body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 a {
    color: black;
    margin-left: 5px;
    text-decoration: none;
}
a.user-link {
    color: black;
    text-decoration: none;
}
section {
    display: flex;
    flex-wrap: wrap
}
.product-container {
    margin: 10px;
    position: relative;
}
img.product_photo {
    float: left;
    margin-right: 15px;
}