{% extends "base.html" %}

{% block content %}
    <section>
        {% for product in products %}
            <div class="product-container" onclick="location.href='product/{{product.id}}'">
                <h2 style="text-align: center;">{{product.name}}</h2>
                <img src="{{url_for('static', filename='uploads/{}'.format(product.photo))}}"
                     alt="{{product.name}}" width="300" height="300">
            </div>
        {% endfor %}
    </section>
{% endblock %}