{% extends "base.html" %}

{% block content %}
    <h1>{{product.name}}</h1>
    <img src="{{url_for('static', filename='uploads/{}'.format(product.photo))}}" alt="{{product.name}}" class="product_photo"
         width="300" height="300">
    <p>Цена: {{product.price}}</p>
    {% if product.user.id == current_user.id %}
        {% set user_link = "../profile" %}
    {% else %}
        {% set user_link = "../user/{}".format(product.user.id) %}
    {% endif %}
    <p>Продавец: <a href="{{user_link}}" class="user-link">{{product.user.username}}</a></p>
    {% if product.user.id == current_user.id %}
        <p>
            <a href="../edit/{{product.id}}" class="btn btn-warning">Изменить</a>
            <br>
            <a href="../delete/{{product.id}}" class="btn btn-danger">Удалить</a>
        </p>
    {% else %}
        {% if current_user.is_authenticated %}
            {% if product.id|string not in current_user.shopcart.split() %}
                <p>
                    <a href="../add_to_shopcart/{{product.id}}" class="btn btn-primary">Добавить в корзину</a>
                </p>
            {% else %}
                <p>Товар уже в корзине</p>
                <p>
                    <a href="../delete_from_shopcart1/{{product.id}}" class="btn btn-danger">Удалить из корзины</a>
                </p>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}