{% extends "base.html" %}

{% block content %}
    <h1>Учетная запись</h1>
    <h2>{{current_user.username}}</h2>
    <a href="/logout" class="btn btn-danger">Выйти</a>
    {% if notifications %}
        <h3>Проданные товары:</h3>
        <ul>
            {% for notification in notifications %}
                <li>{{notification}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1 style="text-align: center;">Ваши товары</h1>
    <section>
        {% for product in products %}
            <div class="product-container" onclick="location.href='product/{{product.id}}'">
                <h2 style="text-align: center;">{{product.name}}</h2>
                <img src="{{url_for('static', filename='uploads/{}'.format(product.photo))}}"
                     alt="no-image" width="300" height="300"><br>
                <p style="text-align: center;">
                    <a href="edit/{{product.id}}" class="btn btn-warning">Изменить</a>
                    <a href="delete/{{product.id}}" class="btn btn-danger">Удалить</a>
                </p>
            </div>
        {% endfor %}
    </section>
{% endblock %}
